* {
    box-sizing: border-box;
}

body {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h3 {
    color: white;
    text-align: center;
}

textarea {
    width: 100%;

    margin: 20px 10px;
    padding: 10px;
    height: 100px;
}

.tag {
    background-color: orange;
    border-radius: 15px;
    margin: 10px 5px 10px 0;
    padding: 10px 20px;
    display: inline-block;
}

.tag.highlight {
    background-color: #273c75;
}