* {
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    text-align: center;
}

.key {
    border: 1px solid black;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    flex-direction: column;
    background-color: pink;
    color: white;
    margin: 10px;
    min-width: 150px;
    position: relative;
    justify-content: center;
}

.key small {
    position: absolute;
    top: -24px;
    left: 0;
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: 400;
}