/* * {
    box-sizing: border-box;
}

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #383838;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    text-align: center;
}

.progress-container {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
}

.progress-container::before {
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    z-index: -1;
    height: 4px;
    transform: translateY(-50%);
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    width: 0%;
    height: 4px;
    top: 50%;
    left: 0;
    z-index: -1;
    transition: 0.4s ease;
    transform: translateY(-50%);
}

.circle {
    background-color: var(--line-border-empty);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active {
    border-color:
        var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    border: 0;
    padding: 8px 30px;
    color: white;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit;
}

.btn.active {
    transform: scale(.98);
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
} */

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;

}

.progress-container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 50%;
    left: 0;
    z-index: -1;
    background-color: gray;

}

.progress {
    position: absolute;
    background-color: blueviolet;
    width: 0%;
    height: 4px;
    top: 50%;
    left: 0;
    z-index: -1;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}

.btn {

    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: lightblue;
    border: none;
}

.btn.active {
    transform: scale(.98);
}

.btn:disabled {
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}