* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #7d5fff, #7158e2);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    width: 50px;
    height: 50px;
    border: 0;
    padding: 15px;
    transition: width 0.3s ease;
}

.btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border: 0;
    transition: 0.3s ease;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(198px);
}

.btn:focus,
.input:focus {
    outline: none;
}