* {
    box-sizing: border-box;
}

body {
    background-color: steelblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: blueviolet;
    padding: 20px 40px;
    border-radius: 5px;
    color: white;

}

h1 {
    text-align: center;
}

.container a {
    text-decoration: none;
    color: lightblue;
}

.btn {
    width: 100%;
    background-color: lightblue;
    border: 0;
    padding: 20px;
    border-radius: 5px;
}

.btn:focus {
    outline: none;
}

.btn:active {

    transform: scale(.98);
}

.form-control {
    position: relative;
    width: 300px;
    margin: 20px 0 40px;
}

.form-control input {
    background-color: transparent;
    border: none;
    display: block;
    border-bottom: 2px solid white;
    width: 100%;
    position: relative;
    z-index: 100;
    padding: 15px 0;
}

.form-control label {
    position: absolute;
    top: 15%;
    left: 0;
    pointer-events: none;
}

.form-control input:focus,
.form-control input:valid {
    outline: none;
    border-bottom-color: lightblue;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s;
}

.form-control input:focus~label span,
.form-control input:valid+label span {
    color: lightblue;
    transform: translateY(-30px);
}