* {
    box-sizing: border-box;
}

:root {
    --left-bg-color: rgba(87, 84, 236, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --btn-left-hover-color: rgba(87, 84, 236, 1);
    --btn-right-hover-color: rgba(28, 122, 28, 1);

    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

body {

    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
}

.split.left {
    left: 0;
    position: absolutes;
    background: url('ps.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right {
    position: absolute;
    right: 0;
    background: url('xbox.jpg');
}

h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 4rem;
    white-space: nowrap;
    transform: translateX(-50%);
}

.btn {
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 1rem;
    text-decoration: none;
    border: 2px solid white;
    padding: 1.5rem;
    width: 15rem;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

.split.left .btn:hover {
    background-color: var(--btn-left-hover-color);
    border-color: var(--btn-left-hover-color);
}

.split.right .btn:hover {
    background-color: var(--btn-right-hover-color);
    border-color: var(--btn-right-hover-color);
}

.split.left::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right::before {
    background-color: var(--right-bg-color);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
}

/* 
.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
} */

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
    transition: all var(--speed) ease-in-out;
}

@media (max-width:800px) {
    h1 {
        font-size: 12px;
        background-color: purple;
        top: 30%;
    }

}