* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    height: 80vh;
    border-radius: 30px;
    margin: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: all 700ms ease-in;
}

.panel h3 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.4s ease-in;
}

@media (max-width:800px) {
    .container {
        width: 100vw;

    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
}