@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body{
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

.container{
    display: flex;
    width: 90vw;
    background-color: antiquewhite;
}

.panel{
    background-color: aqua;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    position: relative;
    margin: 10px;
    flex: 1
}

.active{
    flex: 8
}

.panel h3{
    font-size: 24px;
    margin: 0;
    opacity: 1;
    position: absolute;
    bottom: 20px;
    left: 20px;
}