* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
}

.container {
    background-color: #fafafa;
    transform: top left;

}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {

    height: 200px;
    width: 200px;
    background-color: pink;
    border-radius: 50%;

}

.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    border: 0;
    background-color: transparent;
    color: #fff;
}

.circle button:focus {
    outline: none;
}

.cricle button#open {
    left: 60%;
}

.cricle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.content img {
    max-width: 100%;
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}


.content h1 {
    margin: 0;

}