* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

button {
    background-color: purple;
    color: white;
    border: 1px puple solid;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 20px 30px;
    position: relative;
    overflow: hidden;
    margin: 10px 0;
}

button:focus {
    outline: none;

}

button .circle {
    position: absolute;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-in-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}