* {
    box-sizing: border-box;
}

body {
    background-color: rgb(161, 100, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.btn {
    background-color: purple;
    margin: 1rem;
    padding: 1.3rem 3rem;
    border-radius: 2px;
    color: white;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: none;
}